asttokens==2.4.1
beautifulsoup4==4.12.3
biopython==1.84
decorator==5.1.1
et-xmlfile==1.1.0
executing==2.1.0
ipython==8.28.0
jedi==0.19.1
matplotlib-inline==0.1.7
openpyxl==3.1.5
pandas==2.2.3
parso==0.8.4
prompt-toolkit==3.0.48
pure-eval==0.2.3
pygments==2.18.0
python-dateutil==2.9.0.post0
pytz==2024.2
six==1.16.0
soupsieve==2.6
stack-data==0.6.3
traitlets==5.14.3
tzdata==2024.2
wcwidth==0.2.13